:root {
  /*колір тексту*/
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --bgc-accent-text-color: #ffffff;
  --footer-addressbox-text-color: rgba(255, 255, 255, 0.6);
  /*колір фону*/
  --button-bgc: #2196f3;
  --main-bgc: #e5e5e5;
  --secondary-bgc: #f5f4fa;
  --accent-bgc: #2f303a;
  --header-bgc: #ffffff;
}

body {
  background-color: var(--header-bgc);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
}

/*--------------------------------------Скрить заголовки h2 і h1-----------------------------------*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*--------------------------------------------Общі значення----------------------------------*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*--------------------------------------header----------------------------------------------*/
.conteiner {
  display: flex;
  align-items: center;
  width: 1230px;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  width: 1230px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-conteiner {
  display: flex;
  align-items: center;
}

.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0px;
}
.logo-web {
  color: var(--accent-text-color);
}
.logo-studio {
  color: black;
}

.nav-links {
  display: flex;
}

.nav-links > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav.link-header.current {
  color: var(--accent-text-color);
}

.link-header {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-header:hover,
.link-header:focus {
  color: var(--accent-text-color);
}
.link-contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-text-color);
}

.link-header.current {
  color: var(--accent-text-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}
.item-contacts:not(:last-child) {
  margin-right: 50px;
}
/*--------------------------------------hero--------------------------------------------*/

.hero-conteiner {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  text-align: center;
}

.hero {
  background: var(--accent-bgc);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero-main {
  color: var(--bgc-accent-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.button {
  background-color: var(--accent-text-color);
  color: var(--bgc-accent-text-color);
  font-family: inherit;
  font-style: normal;
  font: weight 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

/*---------------------------наші переваги------------------------------*/

.conteiner-advantage {
}

/*----------------------------------------Чем ми занимаемся------------------------------*/
.work {
  color: var(--main-text-color);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/*------------------------------------------команда-------------------------------------*/
.team {
  background: var(--secondary-bgc);
}
.our-team {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.team-hero {
  background: url(4853.jpg);
  border-radius: 0px;
  text-align: center;
}
.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

/*-------------------------------Footer------------------------------------*/
.footer {
  background-color: var(--accent-bgc);
}

.logo {
  color: var(--bgc-accent-text-color);
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.address {
  color: var(--bgc-accent-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.link-footer {
  color: var(--footer-addressbox-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*-----------------------------Портфолио--------------------------------*/
.button-portfolio {
  font-family: inherit;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--bgc-accent-text-color);
  background-color: var(--button-bgc);
}

.text-portfolio {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
